@model smartGPS.Areas.Dashboard.Models.FoursquareStatisticsModel

<table class="table">
    <tbody>
        <tr>
            <td>   @Html.LabelFor(m => m.Name, new { @class = "control-label" })</td>
            <td>     @Html.TextBoxFor(m => m.Name)</td>
        </tr>

    </tbody>
</table>
