@{
    ViewBag.Title = "Index";
}

<legend>Travels</legend>

<ul class="nav nav-tabs">
    <li class="active"><a href="#new" data-toggle="tab">New travel</a></li>
    <li><a href="#history" data-toggle="tab">History</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="home">
        @Html.Action("NewTravel")
    </div>

     <div class="tab-pane" id="facebook">
     <</div>
<</div>